[Desktop Entry]
Encoding=UTF-8
Name=Install/Remove Software
GenericName=Install/Remove Software
Exec=/usr/bin/yast2-sw_single-wrapper %F
Icon=yast-sw_single
Terminal=false
Type=Application
Categories=System;PackageManager;X-SuSE-ControlCenter-System;
MimeType=application/x-rpm;application/x-redhat-package-manager;
NotShowIn=GNOME;MATE;
StartupNotify=true

# KDE specific (does not affect the other desktop environments)
# https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html#kde-items
InitialPreference=10
